<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button name="tab1" routerLink="/tabs/tab1" routerDirection="root">
      <ion-icon name="sunny"></ion-icon>
      <ion-label>Tab1</ion-label>
    </ion-tab-button>

    <ion-tab-button name="tab2" routerLink="/tabs/tab2" routerDirection="root">
      <ion-icon name="moon"></ion-icon>
      <ion-label>Tab2</ion-label>
    </ion-tab-button>

    <ion-tab-button name="tab3" routerLink="/tabs/tab3" routerDirection="root">
      <ion-icon name="car"></ion-icon>
      <ion-label>Tab3</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>